<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    
    <ion-item>
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
      <p *ngIf="loginForm.get('username')?.hasError('required')">El nombre de usuario es obligatorio.</p>
    </ion-text>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
      <p *ngIf="loginForm.get('password')?.hasError('required')">La contraseña es obligatoria.</p>
      <p *ngIf="loginForm.get('password')?.hasError('invalidPassword')">La contraseña debe tener al menos 4 números, 3 caracteres y 1 mayúscula.</p>
    </ion-text>

    <ion-button expand="full" type="submit" [disabled]="loginForm.invalid">Ingresar</ion-button>

    <!-- Botón para registrarse -->
    <ion-button expand="full" color="light" (click)="goToRegister()">Registrarse</ion-button>

  </form>
</ion-content>
